<body>
  <h1>About me</h1>\
  <h2>... and my new Astro Site!</h2>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore molestias
    hic quaerat fugit rerum ex, enim necessitatibus odio eligendi vel totam
    molestiae repudiandae qui voluptate commodi vitae deserunt. Necessitatibus,
    saepe!
  </p>

  <a href="/">Back to home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</body>
